:root{
    /*
        GENERICOS
    */
    --negro: #000;
    --blanco: #fff;
    /*
        cOLORES
    */
    --primary-color: #202124;
    --icon-color: #9aa0a6;
    --background-button: #303134;
    --link-color: #8ab4f8;
    --background-footer: #171717;
    --color-border-footer: #3c4043;
    --color-letter-footer: #9aa0a6;
    --color-border-input: #5f6368;
    --background-hover: #303134;
}
*{
    padding: 0 ;
    margin: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* Now 1rem is equal to 10px */
    height: 100%;
}
body{
    font: normal normal 1.6rem "Open Sans", sans-serif;
    background: var(--primary-color);
    height: 100%;
}
/* 
    GENERALES
*/
a{
    text-decoration: none;
    color: var(--blanco);
}
p{
    color: var(--blanco);
}
ul{
    list-style: none;
}
img{
    width: 100%;
    height: auto;
    display: inline-block;
}
input:focus{
    outline: none;
}
/* 
    UTILITARIOS
*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    margin-right: 2rem;
}
.menu li:last-child{
    margin-right: 0;
}
.menu.left{
    justify-content: flex-start;
}
.menu.right{
    justify-content: flex-end;
}
/* 
    MAIN CONTENT
*/
.main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 40rem;
}
/*
    CABECERA
*/
.cabecera{
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 2.5rem;
}
.cabecera .menu li{
    font-size: 1.3rem;
}
.cabecera .menu li i{
    color: var(--blanco);
    font-size: 2rem;
}
.cabecera .menu li img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    max-width: 4rem;
    margin-top: 0.6rem;
    object-fit: cover;
}
/*
    PARTE CENTRAL DE LA WEB
*/
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main form{
    text-align: center;
}
.main form .group-field{
    margin-bottom: 2rem;
}
.main form .group-field.text{
    position: relative;
}
.main form .group-field.text input{
    min-width: 58.2rem;
    border-radius: 3rem;
    border: none;
    background: transparent;
    border: 1px solid var(--background-hover);
    padding: 1.5rem 2rem 1.5rem 4rem;
    color: var(--blanco);
    font-size: 1.6rem;;
}
.main form .group-field.text input:hover{
    background: var(--color-border-input);
}
.main form .group-field.text span{
    position: absolute;
    left: 1.5rem;
    top: calc(50% - 1rem);
}
.main form .group-field.text span + span{
    left: calc(100% - 3.5rem);
}
.main form .group-field.text span i{
    color: var(--icon-color);
}
.main form .group-field button{
    border: none;
    background: var(--background-button);
    color: var(--blanco);
    padding: 1rem 1.5rem;
    border-radius: 3px;
    font-size: 1.4rem;
}
.main form .group-field button:first-of-type{
    margin-right: 1rem;
}
.main p{
    font-size: 1.3rem;
}
.main p span{
    color: var(--link-color);
    margin-left: 1.5rem;
}
/* 
    FOOTER
*/
.pie-pagina{
    background: var(--background-footer);
    font-size: 1.5rem;
}
.pie-pagina p,
.pie-pagina a{
    color: var(--color-letter-footer);
}
.pie-pagina .pais{    
    padding: 2rem;
    border-bottom: 1px solid var(--color-border-footer);
}
.pie-pagina .sobre-google{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}